.form-group {
	margin-bottom: 1em;
	*:checked + label {color: $color-1;}
	.upload_limits {font-size: 0.8em;}
} //.form-group
label {
	color: $color-title;
	font-weight: bold;
	display: block;
	margin-bottom: 0.325em;
}
.form-element {
	display: block;
	width: 100%;
	padding: 0.625em 0.938em;
	border: $border;
	font-family: $font-family-text;
	font-size: $font-size;
	line-height: $line-height;
	border-color: darken($color-bg,20);
	&:hover {border-color: darken($color-bg,35);}
	&:focus {border-color: $color-1}
	&[type="checkbox"], &[type="radio"] {width: auto; display: inline;}
}
.checkbox, .radio {
	@include flexbox;@include align-items(center);
	padding: 0.325em;
	input {width: auto;}
	.label {display: none;}
	label {
		margin-bottom: 0;
		font-weight: normal;
		cursor: pointer;
	}
}
.checbox, .radio {
	&:hover {color: $color-default;}
}



body {
  padding: 20px;
}

form fieldset {
	padding: 0.625em 1.250em;
	border: $border;
	margin: 0.625em 0;
	legend {
		font-size: 1.2em;
		font-weight: bold;
		background: $color-bg;
		padding: 0 0.625em;
		color: $color-1;
	}
	.form-group {
		display: block;
		width: 100%;
	}
} //form fieldset
.form-inline {
	@include flexbox;@include align-items(center);
	.form-group {
		padding: 0.325em;margin-bottom: 0;
		//> * {width: 100%;}
		&:first-of-type {padding-left: 0;}
		&:last-of-type {padding-right: 0;}
		flex: 1;
	}
	.message {flex: 2 100%}
}
