.message {
	padding:5px 10px;margin:10px 0;
	p:last-of-type {margin-bottom: 0;}
	&.icon {
		@include flexbox;
		@include align-items(center);

		padding:5px 10px;
		&:before {font-family: $font-icons;display:block;padding:20px;text-align: center;font-size: 1.4em;}
	}
	&.form-group {border-color: transparent !important;}
}

/* Messages Colours */
@mixin message($color) {

	background:$color;
	border:solid 1px darken($color,10);
	color:lighten($color,40%);
	p {color: rgba(#fff,0.7);}

	&.form-group {
		label {color:$color !important;}
		.form-element {border:solid 1px $color;}
	}
}//end mixin

	@each $name, $color, $icon in $colors {

		.message {
			&.#{$name} {
				@include message($color);
				&.icon:before {content:$icon}
			}

			a {
				color:lighten($color,10);
				&:hover {color:darken($color,10);}
			}
		}
	}//end each
