.icon {
	@include flexbox;
	@include align-items(center);

	padding:.325em .625em;
	&:before {
		font-family: $font-icons;
		display:block;
		padding: .325em 0;
		text-align: center;
		font-size: 1em;
		width: 1.4em;
	}
}

.message {
	padding:.325em .625em;margin:.625em 0;
	p:last-of-type {margin-bottom: 0;}

	&.form-group {border-color: transparent !important;}
}
/* Messages Colours */
@mixin message($color) {

	background:$color;
	border:solid 1px darken($color,10);
	color:lighten($color,40%);
	p {color: rgba(#fff,0.7);}

	&.form-group {
		label {color:$color !important;}
		.form-element {border:solid 1px $color;}
	}
}//end mixin

	@each $name, $color, $icon in $colors {
		&.#{$name} {
			&.icon:before {content:$icon}
		}
		.message {
			&.#{$name} {
				@include message($color);
			}

			a {
				color:lighten($color,10);
				&:hover {color:darken($color,10);}
			}
		}
	}//end each
