$font-family-title: 'Roboto', sans-serif;
$font-family-title-2: 'Playfair Display', serif;
$font-family-text: 'Lato', sans-serif;
$font-icons:"FontAwesome";
$font-size: 16px;
$font-size-small: 0.7em;
$font-size-medium: 1.3em;
$font-size-large: 1.6em;
$font-size-title: 2rem;
$line-height: 1.42857143;
$color-1: #00427a;
$color-2: #ef5d23;
$color-3: #ffffff;
$color-4: #000;

$color-default: #222;
$color-bg: #eee;

//Default Colours
$color-success: #66c189;
$color-error: #df4d5f;
$color-info: #75a4cd;
$color-warning: #f6a721;

//Typography Colours
$color-text: $color-4;
$color-title: $color-1;

//Tabs
$color-tab: $color-text;
$color-tab-hover: $color-1;

$darken: 10;
$lighten: 10;

//Layout
$container-size: 1280px;
$max-size:100%;
$grid-spacing:0;
$box-sizing: border-box;
$lg: 1025px;
$md: 1024px;
$sm: 767px;
$columns: 12;

//Sizes
$spacing: 20px;
$padding: 10px;
$margin: 10px;
$radius: 0px;
$border:solid 1px $color-default;
$break-width: max-width;


$points: (lg landscape $lg) (md-ls landscape $md) (md portrait $md) (sm-ls landscape $sm) (sm portrait $sm);

$colors: (primary $color-1) (secondary $color-2) (error $color-error '\f12a') (success $color-success '\f00c') (info $color-info '\f129') (warning $color-warning '\f071') (default $color-default '\f0f3');
