.blog-entries {
	.blog-entry {padding-bottom:$spacing;margin-bottom: $spacing;border-bottom: $border;&:last-of-type {border: none;}}
	.blog-entry-thumbnail {
		figure {margin: 0 10px 10px 0 ;}
		img {width:auto;height:auto;max-width: 100%;max-height: 100%;}
	}
	.blog-entry-meta {font-size: $font-size-small;color: $color-default;text-transform: uppercase;}

}
.blog-categories {
		ul {padding: 0;}
		a {display: block;padding: 5px;border-bottom: $border;}
		li {list-style: none;}
		li:last-of-type:not(:first-of-type) a {border-bottom: none;}
	}
