$color-discount: $color-error;
.btn-default {}
.ecommerce_area, .customer_area {
	background-color: $color-3;
	padding: 30px 0;
	h1, h2 {margin-bottom: 20px;}
	a {color: $color-1;&:hover {color: darken($color-1,20);}}
} //.ecommerce_area, .customer_area

//PRODUCT LISTING
.products_listing_wrapper {
	.products_listing_item {
		figure {
			margin: 10px;border: $border; padding: 10px;position: relative;
			img {max-width: 100%;height: auto;}
			.label_discount {position: absolute;z-index: 1;top: 20px;left: 20px; height: 10px;font-size: 0.7em;background: $color-discount;display: inline-table;padding: 2px 10px;color: lighten($color-discount,40);}
			.label_item {@extend h2;display: block; .label_sku {font-size: 0.5em;text-transform: uppercase;}}
			.cart_versions_select, .cart_add_button_wrapper {display: block;text-align: center;}
			.add_cart_button, .cart_versions_select_form {@extend .btn,.btn-primary,.btn-outline,.btn-md;}
		} //figure
	} //products_listing_item
} //products_listing_wrapper

.modal {
    position: fixed;top: 0;left: 0; z-index: 9999;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.9);
	.prod_cart_wrapper {
		position: absolute;top: 50%;left: 50%;
		-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
		width: 50%;max-height: 80%;
		background: #fff;border-radius: $radius;
		overflow-y: auto;
	} //.prod_cart_wrapper
	.closePanel {
		position: fixed;z-index: 999999;font-size: 0;right: 0;
		&:before {
			font-family: FontAwesome;content: "\f00d";font-size: 1.2rem;
			background: #fff;
			display: block;padding: 15px;
		}
		&:hover:before {
				background: $color-1;
				color: #fff;
			}
	} //.btn-modal-close

} //.modal

//ADD TO CART SECTION
.prod_cart_wrapper {
	.cart_area_label {
		display: block;margin-bottom: 20px;
		font: {weight: bold;size: 1.2em;}
	}
	.form-group {
		&.checkbox {
			.form-element {
				display: none;
				+ label:before {@extend .fa, .fa-square-o,.fa-fw;}
				&:checked + label:before {@extend .fa-check-square-o;}
			} //.form-element
			label {
				@include flexbox;@include align-items(center);@include flex-wrap(wrap);
				.label_title {width: 100%;}
			}

			@include flexbox;@include align-items(center);
		} // &.checkbox
	} //.form-group


	.prod_cart_area {border-bottom: $border;padding: 10px;}
	.price_item {text-align: left;font-weight: bold;display: inline-block;margin-right: 20px;}
	.price_item span {width: auto;}
	.price_main {font-size: 2rem;color: $color-primary;}
	.price_small, .price_small_label {font-size: 0.7rem;text-transform: uppercase;color: $color-text;}
	.price_small_label {color: lighten($color-text,10);}
	.price_old {color: lighten($color-text,50);text-decoration: line-through;}

	.item_container {
		width: 100%;padding: 5px 10px;
		label {display: inline-block; width: 25%;font-weight: bold;}
	}
	.cart_qty_wrapper, .cart_add_button {display: inline-block;width: 49%;vertical-align: top;}
	.cart_add_button {text-align: right;}

	.checkbox-group {
		padding-left: 0px;margin-bottom: 0;
		@include flexbox;@include align-items(center);
		li {
			position: relative;
			display: inline-block;margin: 0 5px 5px 0;
			width: calc(50% - 5px);
			border: $border;

			&:hover {
				background: $color-bg;
			}
			&.active {
				background: $color-primary;color: #fff;border-color: $color-primary;
				.add_ons_indiv_price_exvat, .cart_related_prod_discount_label {color: #fff;}
			} //.active
		} //li
		input[type="checkbox"] {
			position: absolute;top: 50%;left: 13px;
			-webkit-transform: translateY(-50%);transform: translateY(-50%);
		}
		label {
			width: 100%;

			position: relative;
			display: block;padding: 15px 10px 15px 40px;
			cursor: pointer;
			.add_ons_indiv_title, .cart_related_prod_label {display: block;font-weight: bold;}
			.add_ons_indiv_price_exvat, .cart_related_prod_discount_label {color: $color-primary;padding: 0 5px;}
			.add_ons_indiv_price_inclvat, .cart_related_prod_discount_text {font-size: 0.8em;padding: 0 5px;}
		} //label
	}//.checkbox-group

	.cart_related_prods {
		label {width: 70%;}
		img {position: absolute;top: 50%;right: 0;-webkit-transform: translateY(-50%);transform: translateY(-50%);}
	}

	.cart_attributes {
		*[class*="cart_indiv_attribute_wrapper"] {
			display: inline-block;
			margin: 0 5px 5px 0;padding: 15px 10px;
			width: calc(50% - 5px);
			border: $border;
			.cart_indiv_attribute_label {
				font-weight: bold;
				display: block;
				margin-bottom: 5px;
			}
			select {width: 100%; padding: 5px;display: block;border: $border;}
		} //.cart_indiv_attribute_wrapper
	} //.cart_attributes
	.cart_qty {
		@include inline-flex;@include justify-content(flex-end);
		width: 74%;
		.cart_button_qty_plus, .cart_button_qty_less {@extend .btn;}
		.form-element {padding: 5px;text-align: center;}
	} //.cart_qty
} // .prod_cart_wrapper


.checkout {
	//checkout global
	.checkout_item_box {border: $border;padding: 15px;margin:10px 20px 20px 0;}
	.checkout_cart_wrapper {
		table {
			border: none;

			tr:last-of-type {display: none;}
			tr:nth-child(even) {background: none;}
			th {display: none;}
			td, th {
				border: none;
				padding: 2px;
				&:nth-child(2) {
					img, span {display: none !important}
				}

				&:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(8) {display: none;}
				&:nth-child(5) {font-size: 0.7em;font-size: italic;}
			}

		}
		.checkout_cart_info, .checkout_cart_warnings {display: none;}
	}
	.checkout_area_wrapper {
		img {max-width: 100%;height: auto;}
		.checkout {
			label, span {display: inline-block}
		}
	}
	.wrapper_cust, .wrapper_add, .checkout_cart_wrapper {
		.checkout_indiv_wrapper, .checkout_indiv_wrapper_item, .form-group {
			display: inline;
			padding-right: 5px;
			font-size: 0.9rem;
			.label {display: none;}
			&:not(:last-of-type):after {content: ', '}
		}
	}
	.add_update_address_wrapper .form-group {
		.label {display: block;}
		&:after {display: none;}
	}
	.ship_view {
		.checkout_indiv_wrapper {
			display: none;
			.label {display: none;}
			&.ship_view_method {display: inline-block;width: 70%;}
			&.ship_view_price_incl_vat {display: inline-block;width: 30%;text-align: right;}
		}
	}
	.wrapper_recap table {
		border: none;
		td, th {border-left: none;border-bottom: none;padding: 5px;}
		tr:first-of-type {display: none;}
		tr:nth-child(even) {background: none;}
		td:nth-child(3) {display: none;}
//		td:last-of-type {text-align: right}
		td .code_exvat {font: {size: 0.7em;style: italic;}}
		tr:last-of-type td {font: {weight: bold;}border-top: $border;}
	}
	.aside_review .checkout_cart_wrapper {border-bottom:$border;border-color: darken($color-bg,20); margin-bottom: 20px; table {margin-bottom: 10px;}}
	.form-group {
		.checkbox {
			@include flexbox;@include align-items(center);
			.label {display: none;}
			padding: 5px;
			label {cursor: pointer;&:hover {color: $color-primary;}}}
			*:checked + label {color: $color-primary;}
		.form-element {border-color: darken($color-bg,20);&:hover {border-color: darken($color-bg,35);}}
	}
	.btn_group {display: block;text-align: right;padding: 10px 0;border-top: $border;margin-top: 10px;}

	//add / update address page:
	.checkout_item_box {
		table {
			border: none;
			tr:nth-child(even) {background: none;}
			td {
				border-left: none;
				border-color: darken($color-bg,20);
				label {display: block;cursor: pointer; &:hover {color: $color-primary;}}
				*:checked ~ label {color: $color-primary;}
				* {line-height: 1;}

			}

			.label_main {background: $color-info;color: lighten($color-info,40);font-size: 0.6em;text-transform: uppercase;display: inline-block;padding: 2px;}
			small {font-size: 0.6em;color: lighten($color-text,15);}
			*[class*="icon_"] {@extend .fa;font-size: 0px;&:before {font-size: 1rem;}}
			.icon_update {@extend .fa-edit;}
			.icon_delete {@extend .fa-trash;}
		}
	}
	.wrapper_add {
		table td {
			&:nth-child(1) {width: 5%;}
			&:nth-child(2) {width: 80%;}
			&:nth-child(3) {width: 15%;}
		}
	}
	.wrapper_checkout_update table {
		th, td {
			vertical-align: middle;padding: 5px;
			&:nth-child(1) {text-align: center;}
			&:nth-child(2) {
				img {display: none;}
				span {display: none !important;}
			}
			&:nth-child(3) {display: none;}
			&:nth-child(6) {display: none;}
			/*

			&:nth-child(8) {display: none;}*/

		}
		th {border-left: none;border-bottom: none;background: $color-bg;}

		tr:last-of-type {display: none;}
	}
	.wrapper_select_shipment, .wrapper_add {
		.btn_group {border-top: none;}
	}

}
.checkout_messages {
	padding-left: 0px;
	li {list-style: none;margin-bottom: 5px;}
	.message {display: block;}
}
.ecommerce_nav {
	text-align: right;
	li {@include inline-flex;@include align-items(center);}
	ul ul {z-index: 100;background: $color-bg;width: 250px;padding: 10px 20px;border: $border;right: 0;left: auto;}
	ul ul li:not(:last-of-type) {border-bottom: $border;}
	.fa {font-size: 1.4em;color: lighten($color-text,20);}
	.user_info_name {color: $color-text;}
	a {
		text-align: right;padding: 5px 10px;
		color: $color-1;font-size: 1rem;
		&:hover {color: darken($color-1,10);}
	}
}
.full_cart_wrapper {
	table {
		th {color: $color-2;}
		td {vertical-align: middle;}
		.cart_item_wrapper {@include flexbox;@include align-items(center)}
		td:nth-child(2) a {display: block;font-weight: bold;}
		.cart_thumbnail {display: none;}
		.cart_item_sku {font-size: 0.7em;font-weight: normal;text-transform: uppercase;}
		.cart_item_description {padding: 10px; .item_container {display: block;font-weight: bold; font-size: 0.8em; span {font-weight: normal;}}}
	}
}
.mini_cart {
	.mini_cart_btn {@include flexbox;@include align-items(center);border: solid 1px transparent;padding: 5px;position: relative;z-index: 5;color: $color-text;}
	.mini_cart_icon {position: relative;margin-right: 10px;}
	.mini_cart_total_qty {font-size: 0.5rem;background: $color-info;display: inline-block;line-height: 1;border-radius: 50%;padding: 3px 4px;color: #fff;position: absolute;top: 0;right: -3px;}
	.mini_cart_container {width: 350px !important;}
	&:hover {
		.mini_cart_btn {border-color: darken($color-bg,10);border-bottom-color: transparent;}
		.mini_cart_container {display: block;visibility: visible;}
	}
	.item_container {display: block;}

	.mini_cart_item {display: block; font-size: 0.9rem;border-bottom: $border;padding-bottom: 10px;text-align: left;}

	.mini_cart_item_name_label {font-weight: bold;}
	.mini_cart_item_sku, .cart_display_attributes_wrapper, .cart_display_add_ons_wrapper {font-size: 0.7rem;}
	.cart_display_attributes_wrapper, .cart_display_add_ons_wrapper {}
	.mini_cart_items_total {display: block;font-weight: bold;text-align: right;margin-top: 10px;}
	.mini_cart_btn_group {display: block; text-align: right;padding-top: 10px; a {display: inline-block !important;min-width: auto !important;width: auto !important;}}
}

//CUSTOMER AREA
.customer_area, .ecommerce_area {

	.customers_nav {
		padding-right: 40px;
		li a {border-bottom: $border;padding: 15px 10px;}
	} //.customers_nav

	.login-box {
		padding: 30px;border: $border;
		.form-group {padding: 5px 0;}
		.btn-group {text-align: center;}
		.btn-group a {
			padding: 0 10px;
			&:not(:last-of-type) {
				display: inline-block;
				border-right: $border;
			} //:not(:last-of-type)
		} //.btn-group a
	} //.login-box
	.btn-group {text-align: right; padding: 10px 0; .btn {padding: 15px 35px;}}
	fieldset .form-group {padding: 5px 0;}
	fieldset .form-group .label {display: block; padding: 5px 0;}
}//.customer_area
