.nav {
	ul {padding-left: 0;}
	li {
		list-style:none;
		ul {display:none;}
		a {
			display:block;
			padding:5px 10px;
		}
	}
	&.nav-inline {
		text-align:right;
		ul {
			display:block; width:100%;
			li {display:inline-block; position:relative;}
			a {border:none; text-align:center; display:block;}
			ul {display:none; position: absolute; top:100%; left:0;}
			li:hover ul {display:block;}
		}
	}
}
