.form-group {
	label {color: $color-title;font-weight: bold;display: block;margin-bottom: 5px;}
	.form-element {
		display: block;
		width: 100%;
		padding: 10px 15px;
		border: $border;
		&:hover {border-color: darken($color-default,8)}
		&:focus {border-color: $color-1}
		&[type="checkbox"],&[type="radio"] {width: auto; display: inline;}
	}
	.checkbox {
		@include flexbox;@include align-items(center);
		.label {display: none;}
		padding: 5px;
		label {margin-bottom: 0px;font-weight: normal; cursor: pointer;&:hover {color: $color-1;}}}
		*:checked + label {color: $color-1;}
	.form-element {border-color: darken($color-bg,20);&:hover {border-color: darken($color-bg,35);}}
	.upload_limits {font-size: 0.8em;}
	.form_file_upload {

		+ label {
			display: none;
			/*cursor: pointer;
			display: inline-block;padding: 10px;background: $color-bg;color: $color-1;
			&:before {content: "\f093";font-family: $font-icons;margin-right: 10px;}
			&:hover {background: $color-1; color: $color-3;}*/
		}
	}
}
form fieldset {
	legend {font-size: 1.2em;font-weight: bold; background: $color-bg;padding: 0 10px;color: $color-1;}
	.form-group {display: block;width: 100%;}
	padding: 10px 20px;border: $border;margin: 10px 0;
}
.form-inline {
	@include flexbox;@include align-items(center);
	.form-group {
		padding: 5px;margin-bottom: 0px;
		//> * {width: 100%;}
		&:first-of-type {padding-left: 0;}
		&:last-of-type {padding-right: 0;}
		flex: 1;
	}
	.message {flex: 2 100%}
}
.animated-form {
  .form-group {position: relative;display: block;padding: 10px 0;}
  .label, label {position: absolute;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);padding: 10px;width: 23%;}
  .form-element {width: 100%;padding: 10px 10px 10px 23%;display: block;}
  .active .label, .active label {font-weight: bold;}
}
