* {box-sizing: border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

body, html {
	height:100%; margin:0; padding:0; width:100%;
}

body {
	color: $color-text;
	font-family:$font-family-text;font-size: $font-size;line-height:1.4em;
}

@for $i from 1 through 6 {
	h#{$i}, .title_#{$i} {
		margin-bottom: 10px;
		color: $color-title;
		font-family:$font-family-title;font-size: $font-size-title ;
	}
	$font-size-title: $font-size-title - 0.4;
}

a, .btn, :focus {outline:none;text-decoration:none;}
a {
	color:$color-1;
	&:hover {color:darken($color-1,10);}
}


p, ul, ol, blockquote {margin-bottom: $spacing;}
p {color:$color-text;}
ul {padding-left: 40px; li {list-style: disc;}}
ol {padding-left: 40px; li {list-style: decimal;}}
strong {font-weight: bold;}
em {font-style: italic;}
blockquote {
	padding: $spacing;
	color: $color-1;border: $border;
	font-style: italic;font-family: $font-family-title;
}
.clear {clear:both;}
.img-responsive {max-width: 100%;}
.text {

	&-left {text-align:left;}
	&-right {text-align:right;}
	&-center {text-align:center;}

	&-sm {font-size:0.8em}
	&-md {font-size:1.2em}
	&-lg {font-size:1.6em}

	&-uppercase {text-transform: uppercase;}
	&-line-through {text-decoration: line-through;}
	&-italic {font-style: italic;}

	&-1 {color: $color-1;}
	&-2 {color: $color-2;}
	&-success {color: $color-success;}
	&-error {color: $color-error;}
	&-info {color: $color-info;}
	&-warning {color: $color-warning;}

}

.hero {
	background: $color-default;padding:10px;border-radius:$radius;
	&-sm {font-size:0.8em;padding:5px;}
	&-md {font-size:1.2em;padding:15px;}
	&-lg {font-size:1.6em;padding:20px;}
}
/* Main Colours */

	@each $name, $color, $icon in $colors {
		.#{$name} {color:$color;}
	} //end each

.clear {clear:both;}
.left {float:left;}
.right {float:right;}

.mask {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(#000,.8);
    z-index: 99999999999999999;
    display: block;
}

.ajax-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999999999999;
    transform: translate(-50%,-50%);
}
