<!DOCTYPE html>
<html>
<head>
	[CMS:META]
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	[CMS:STYLES:TOP]
	<link rel="stylesheet" href="[CMS:CSS]style_site.css">
	<link rel="icon" href="[CMS:IMGS]favicon.png">

	<title>Title Of The Website</title>
</head>
<body>

	<header class="main_header"></header>
	<section class="content"></section>
	<footer class="main_footer"></footer>

</body>
</html>
