<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->

<link rel="stylesheet" href="../css/style_site.css">
<link rel="icon" href="../images/favicon.png">

<title>Grid</title>
</head>
<body>

	<header class="main_header"></header>
	<section class="content">
		<p>
			<button class="btn btn-1">button</button>
			<a href="#" class="btn btn-1">anchor</a>
			<input type="submit" class="btn btn-1" value="input submit">
			<input type="button" class="btn btn-1" value="input button">
		</p>
		<p>
			<a href="#" class="btn">btn</a>
			<a href="#" class="btn btn-1">btn-1</a>
			<a href="#" class="btn btn-2">btn-2</a>
			<a href="#" class="btn btn-info">btn-info</a>
			<a href="#" class="btn btn-success">btn-success</a>
			<a href="#" class="btn btn-error">btn-error</a>
			<a href="#" class="btn btn-warning">btn-warning</a>
		</p>
		<p>some text before button
			<a href="#" class="btn btn-sm">small</a>
			<a href="#" class="btn btn-md">medium</a>
			<a href="#" class="btn btn-lg">large</a>
		</p>
		<p>
			<a href="#" class="btn btn-1 btn-outline">btn outline</a>
			<a href="#" class="btn btn-2 btn-outline">btn outline</a>
			<a href="#" class="btn btn-info btn-outline">btn outline</a>
			<a href="#" class="btn btn-success btn-outline">btn outline</a>
			<a href="#" class="btn btn-error btn-outline">btn outline</a>
			<a href="#" class="btn btn-warning btn-outline">btn outline</a>
		</p>
		<p>
			<a href="#" class="btn btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-1 btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-1 btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-info btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-success btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-error btn-disabled">btn disabled</a>
			<a href="#" class="btn btn-warning btn-disabled">btn disabled</a>
		</p>
		<p>
			<a href="#" class="btn btn-outline btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-1 btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-1 btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-info btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-success btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-error btn-disabled">btn btn-outline disabled</a>
			<a href="#" class="btn btn-outline btn-warning btn-disabled">btn btn-outline 	disabled</a>
		</p>
	</section>
	<footer class="main_footer"></footer>

</body>
</html>
